<% provide(:page_title, 'Portfolio') %>

<!-- Overlay preloader-->
<div class="htlfndr-loader-overlay"></div>

<div class="htlfndr-wrapper">
  <!-- Start of main content -->
  <main role="main">
    <!-- Section with categories -->
    <section class="container-fluid htlfndr-categories-portfolio">
      <h2 class="htlfndr-section-title bigger-title">Web Development</h2>
      <div class="htlfndr-section-under-title-line"></div>
      <div class="container">
        <div class="row">

          <div class="col-sm-4 col-xs-6">
            <div class="htlfndr-category-box" onclick="void(0)"><!-- The "onclick" is using for Safari (IOS)
								 that recognizes the 'div' element as a clickable element -->
              <%= image_tag 'tost.png', style: 'height:310px' %>
              <div class="category-description">
                <!--<div class="htlfndr-icon-flag-border"><i class="htlfndr-icon-flag flag-germany"></i></div>-->
                <h2 class="subcategory-name">tost</h2>
                <a href="http://tostenglish.herokuapp.com" target="_blank" class="htlfndr-category-permalink"></a><!-- This link will be displayed to "block" and
										 will overlay to whole box by hovering on large desktop and will be a circle link on small devices -->
                <br><br>
                <h4 class="category-name">English Lecture Search Service</h4>
                <h4 class="category-name">5th/200 teams at likelion hackathon</h4>
              </div><!-- .category-description -->
            </div><!-- .htlfndr-category-box -->
          </div><!-- .col-sm-4.col-xs-6 -->

          <div class="col-sm-4 col-xs-6">
            <div class="htlfndr-category-box" onclick="void(0)">
              <%= image_tag 'saleyo.png', style: 'height:310px' %>
              <div class="category-description">
                <!--<div class="htlfndr-icon-flag-border"><i class="htlfndr-icon-flag flag-britain"></i></div>-->
                <h2 class="subcategory-name">Saleyo</h2>
                <a href="http://saleyo.herokuapp.com/" target="_blank" class="htlfndr-category-permalink"></a>
                <br><br>
                <h4 class="category-name">Sale info bot Service</h4>
              </div><!-- .category-description -->
            </div><!-- .htlfndr-category-box -->
          </div><!-- .col-sm-4.col-xs-6 -->

          <div class="col-sm-4 col-xs-6">
            <div class="htlfndr-category-box" onclick="void(0)">
              <%= image_tag 'classlion.png', style: 'height:310px' %>
              <div class="category-description">
                <!--<div class="htlfndr-icon-flag-border"><i class="htlfndr-icon-flag flag-italy"></i></div>-->
                <h2 class="subcategory-name">Classlion</h2>
                <!--<a href="" target="_blank" class="htlfndr-category-permalink"></a>-->
                <br><br>
                <h4 class="category-name">Global Lecture Evaluation Service </h4>
                <h4 class="category-name">coming soon FEB 2018</h4>
              </div><!-- .category-description -->
            </div><!-- .htlfndr-category-box -->
          </div><!-- .col-sm-4.col-xs-6 -->

          <div class="col-sm-4 col-xs-6">
            <div class="htlfndr-category-box" onclick="void(0)">
              <%= image_tag 'indiefilmgenie.png', style: 'height:310px' %>
              <div class="category-description">
                <!--<div class="htlfndr-icon-flag-border"><i class="htlfndr-icon-flag flag-italy"></i></div>-->
                <h2 class="subcategory-name">IFG</h2>
                <a href="http://ifgenie.herokuapp.com/en" target="_blank" class="htlfndr-category-permalink"></a>
                <br><br>
                <h4 class="category-name">Indie Film audience expectation</h4>
                <h4 class="category-name">grand prize in skku c-project</h4>
              </div><!-- .category-description -->
            </div><!-- .htlfndr-category-box -->
          </div><!-- .col-sm-4.col-xs-6 -->

          <div class="col-sm-4 col-xs-6">
            <div class="htlfndr-category-box" onclick="void(0)">
              <%= image_tag 'github.png', style: 'height:310px' %>
              <div class="category-description">
                <!--<div class="htlfndr-icon-flag-border"><i class="htlfndr-icon-flag flag-italy"></i></div>-->
                <h2 class="subcategory-name">GitHub</h2>
                <a href="https://github.com/jongwoniee" target="_blank" class="htlfndr-category-permalink"></a>
                <br><br>
                <h4 class="category-name">Rails & Unity</h4>
              </div><!-- .category-description -->
            </div><!-- .htlfndr-category-box -->
          </div><!-- .col-sm-4.col-xs-6 -->

        </div><!-- .row -->
      </div><!-- .container -->
    </section><!-- .container-fluid.htlfndr-visitors-cards -->

    <section class="container-fluid htlfndr-categories-portfolio">
      <h2 class="htlfndr-section-title bigger-title">Data Science</h2>
      <div class="htlfndr-section-under-title-line"></div>
      <div class="container">
        <div class="row">

          <div class="col-sm-4 col-xs-6">
            <div class="htlfndr-category-box" onclick="void(0)">
              <%= image_tag 'dviz.png', style: 'height:310px' %>
              <div class="category-description">
                <!--<div class="htlfndr-icon-flag-border"><i class="htlfndr-icon-flag flag-italy"></i></div>-->
                <h2 class="subcategory-name">Dviz</h2>
                <a href="http://www.jongwon.net/Visualizing-Indie-Film.pdf" target="_blank" class="htlfndr-category-permalink"></a>
                <br><br>
                <h4 class="category-name">Data Visualization</h4>
                <h4 class="category-name">Course Project</h4>
                <h4 class="category-name">Visualizing Indie-Film Audience Prediction</h4>
              </div><!-- .category-description -->
            </div><!-- .htlfndr-category-box -->
          </div><!-- .col-sm-4.col-xs-6 -->

        </div><!-- .row -->
      </div><!-- .container -->
    </section><!-- .container-fluid.htlfndr-visitors-cards -->

    <section class="container-fluid htlfndr-categories-portfolio">
      <h2 class="htlfndr-section-title bigger-title">App Development</h2>
      <div class="htlfndr-section-under-title-line"></div>
      <div class="container">
        <div class="row">

          <div class="col-sm-4 col-xs-6">
            <div class="htlfndr-category-box" onclick="void(0)">
              <%= image_tag 'seoulpharm.png', style: 'height:310px' %>
              <div class="category-description">
                <!--<div class="htlfndr-icon-flag-border"><i class="htlfndr-icon-flag flag-italy"></i></div>-->
                <h2 class="subcategory-name">SP</h2>
                <a href="https://github.com/blaine-chai/seoul-pharm" target="_blank" class="htlfndr-category-permalink"></a>
                <br><br>
                <h4 class="category-name">SeoulPharm</h4>
                <h4 class="category-name">Pharmacy app for Foreigners that reside in Seoul city</h4>
                <h4 class="category-name">Android Studio / java / open source</h4>
              </div><!-- .category-description -->
            </div><!-- .htlfndr-category-box -->
          </div><!-- .col-sm-4.col-xs-6 -->

          <div class="col-sm-4 col-xs-6">
            <div class="htlfndr-category-box" onclick="void(0)">
              <%= image_tag 'skkoolbus.png', style: 'height:310px' %>
              <div class="category-description">
                <!--<div class="htlfndr-icon-flag-border"><i class="htlfndr-icon-flag flag-italy"></i></div>-->
                <h2 class="subcategory-name">Skkoolbus</h2>
                <a href="http://skkoolbus.com" target="_blank" class="htlfndr-category-permalink"></a>
                <!--<a href="-" target="_blank" class="htlfndr-category-permalink"></a>-->
                <br><br>
                <a href="https://play.google.com/store/apps/details?id=com.skkoolbus.skkoolbus&hl=ko" target="_blank">
                  <h4 class="category-name">playstore link</h4>
                </a>
                <a href="https://apps.apple.com/app/id1317174336" target="_blank">
                  <h4 class="category-name">appstore link</h4>
                </a>
                <h4 class="category-name">Sungkyunkwan University bus tracking app 6000+ download since 2017</h4>
              </div><!-- .category-description -->
            </div><!-- .htlfndr-category-box -->
          </div><!-- .col-sm-4.col-xs-6 -->

        </div><!-- .row -->
      </div><!-- .container -->
    </section><!-- .container-fluid.htlfndr-visitors-cards -->


    <section class="container-fluid htlfndr-categories-portfolio">
      <h2 class="htlfndr-section-title bigger-title">Game Development</h2>
      <div class="htlfndr-section-under-title-line"></div>
        <div class="container">
          <div class="row">

            <div class="col-sm-4 col-xs-6">
              <div class="htlfndr-category-box" onclick="void(0)">
                <%= image_tag 'nabla.png', style: 'height:310px' %>
                <div class="category-description">
                  <!--<div class="htlfndr-icon-flag-border"><i class="htlfndr-icon-flag flag-italy"></i></div>-->
                  <h2 class="subcategory-name">Nabla(∇)</h2>
                  <br><br>
                  <h4 class="category-name">Android / iOS mobile casual puzzle game</h4>
                  <a href="https://play.google.com/store/apps/details?id=com.soulcompany.nabla2&hl=ko" target="_blank">
                    <h4 class="category-name">Android version Download link</h4>
                  </a>
                  <!--<a href="http://www.sgfoundation.or.kr/tidings/newsView.asp?cd_seq=118" target="_blank">-->
                  <a href="http://www.smilegatefoundation.org/youth/archiveDetail?CONT_SEQ=26&pageNo=5&t=B03&y=%25EC%25A0%2584%25EC%25B2%25B4&top_tag=" target="_blank">
                    <h4 class="category-name">SG foundation awards</h4>
                  </a>
                  <a href="https://www.youtube.com/watch?v=n-vJfZxaCZY&feature=youtu.be" target="_blank">
                    <h4 class="category-name">youtube link</h4>
                  </a>
                  <h4 class="category-name">coming soon JUL 2018</h4>
                </div><!-- .category-description -->
              </div><!-- .htlfndr-category-box -->
            </div><!-- .col-sm-4.col-xs-6 -->

            <div class="col-sm-4 col-xs-6">
              <div class="htlfndr-category-box" onclick="void(0)">
                <%= image_tag 'EC.png', style: 'height:310px' %>
                <div class="category-description">
                  <!--<div class="htlfndr-icon-flag-border"><i class="htlfndr-icon-flag flag-italy"></i></div>-->
                  <h2 class="subcategory-name">EC</h2>
                  <br><br>
                  <h4 class="category-name">Emergency Call</h4>
                  <h4 class="category-name">Android / iOS mobile FPS rhythm puzzle game</h4>
                  <a href="https://drive.google.com/open?id=0B0hBEl2qMK06eWVMZlJQT2owUm8" target="_blank">
                    <h4 class="category-name">beta version Download link</h4>
                  </a>
                  <a href="https://youtu.be/ZckU2ArM45Y" target="_blank">
                    <h4 class="category-name">youtube link</h4>
                  </a>
                </div><!-- .category-description -->
              </div><!-- .htlfndr-category-box -->
            </div><!-- .col-sm-4.col-xs-6 -->

          </div><!-- .row -->
      </div><!-- .container -->
    </section><!-- .container-fluid.htlfndr-visitors-cards -->

    <section class="container-fluid htlfndr-categories-portfolio">
      <h2 class="htlfndr-section-title bigger-title">Thesis</h2>
      <div class="htlfndr-section-under-title-line"></div>
      <div class="container">
        <div class="row">

          <div class="col-sm-4 col-xs-6">
            <div class="htlfndr-category-box" onclick="void(0)">
              <%= image_tag 'indiefilmgenie2.png', style: 'height:310px' %>
              <div class="category-description">
                <!--<div class="htlfndr-icon-flag-border"><i class="htlfndr-icon-flag flag-italy"></i></div>-->
                <h2 class="subcategory-name">IFG</h2>
                <a href="http://ifgenie.herokuapp.com/en" target="_blank" class="htlfndr-category-permalink"></a>
                <br><br>
                <h4 class="category-name">Indie Film audience expectation</h4>
                <a href="https://drive.google.com/open?id=0B0hBEl2qMK06OGpNZktRMk9tS2s" target="_blank">
                  <h4 class="category-name">Download link</h4>
                </a>
                <h4 class="category-name">Grand Prize in SKKU Creative Informatics Project</h4>
              </div><!-- .category-description -->
            </div><!-- .htlfndr-category-box -->
          </div><!-- .col-sm-4.col-xs-6 -->

          <div class="col-sm-4 col-xs-6">
            <div class="htlfndr-category-box" onclick="void(0)">
              <%= image_tag 'phonesubsidies.png', style: 'height:310px' %>
              <div class="category-description">
                <!--<div class="htlfndr-icon-flag-border"><i class="htlfndr-icon-flag flag-italy"></i></div>-->
                <h2 class="subcategory-name">Legal Cap</h2>
                <br><br>
                <h4 class="category-name">informatics and analysis on the effect of 'Korean legal cap on phone subsidies'</h4>
                <a href="https://drive.google.com/open?id=0B0hBEl2qMK06NlVLY0wxXzFQY0U" target="_blank">
                  <h4 class="category-name">Download link</h4>
                </a>
                <h4 class="category-name">Grand Prize in SKKU Creative Informatics Project</h4>
              </div><!-- .category-description -->
            </div><!-- .htlfndr-category-box -->
          </div><!-- .col-sm-4.col-xs-6 -->

          <div class="col-sm-4 col-xs-6">
            <div class="htlfndr-category-box" onclick="void(0)">
              <%= image_tag 'mindstorm.png', style: 'height:310px' %>
              <div class="category-description">
                <!--<div class="htlfndr-icon-flag-border"><i class="htlfndr-icon-flag flag-italy"></i></div>-->
                <h2 class="subcategory-name">Mindstorm</h2>
                <br><br>
                <h4 class="category-name">Mindstorm EV3 - Forest fire early detection and extinguishment tower - targeting U.S. and Canada</h4>
                <a href="https://drive.google.com/open?id=0B0hBEl2qMK06ZTVLMll4MmlLVGc" target="_blank">
                  <h4 class="category-name">Download link</h4>
                </a>
                <h4 class="category-name">Grand Prize in SKKU Fusion Major Project</h4>
              </div><!-- .category-description -->
            </div><!-- .htlfndr-category-box -->
          </div><!-- .col-sm-4.col-xs-6 -->

        </div><!-- .row -->
      </div><!-- .container -->
    </section><!-- .container-fluid.htlfndr-visitors-cards -->

  </main>
  <!-- End of main content -->

</div><!-- .htlfndr-wrapper -->