<% provide(:page_title, 'All Posts') %>

<div class="htlfndr-wrapper">
  <main role="main">
    <section class="container-fluid htlfndr-categories-portfolio">
      <!-- category1 -->
      <h2 class="htlfndr-section-title bigger-title">Game Dev</h2>
      <!-- category1 -->
      <div class="htlfndr-section-under-title-line"></div>
      <div class="container">
        <div class="row">

          <% @posts.each do |post| %>
          <div class="col-sm-4 col-xs-6">
            <div class="htlfndr-category-box" onclick="void(0)">
              <img src="/assets/img<%= Post.ids.find_index(post.id) + 1 %>.png" style= 'height:310px' />
              <div class="category-description">
                <h2 class="subcategory-name"><%= post.title[0...20] %></h2>
                    <%= link_to '', post, class:'htlfndr-category-permalink'%> <!--link to show with a button-->
                    <br><br>
                    <h4 class="category-name"><%= post.title %></h4>
              </div><!-- .category-description -->
            </div><!-- .htlfndr-category-box -->
          </div><!-- .col-sm-4.col-xs-6 -->
          <% end %>

        </div><!-- .row -->
      </div><!-- .container -->
    </section><!-- .container-fluid.htlfndr-visitors-cards -->
  </main>
</div><!-- .htlfndr-wrapper -->

    <table>
      <thead>
        <tr>
          <th>Title</th>
          <th>Body</th>
          <th>Category</th>
        </tr>
      </thead>

      <tbody>
        <% @posts.each do |post| %>
          <tr>
            <td><%= post.title %></td>
            <td><%= post.body %></td>
            <td><%= post.category %></td>
            <td><%= link_to 'Show', post %></td>
            <td><%= link_to 'Edit', edit_post_path(post) %></td>
            <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

<%= link_to 'New Post', new_post_path %>
