<% provide(:page_title, @post.title) %>

<p id="notice"><%= notice %></p>

<!--w3sc-->
<div class="row">
  <div class="leftcolumn">
    <div class="card" >
      <h2 class="htlfndr-section-title bigger-title"><%= @post.title %></h2>
      <h5>by. Jongwon Lee | <%= @post.date %></h5>

      <h4 class="widget-title"><%= @post.category %></h4>
      <img src="/assets/img<%= Post.ids.find_index(@post.id) + 1 %>.png", style="height:200px;">
      <h4 class="subcategory-name"><%= @post.body %></h4>

      <p><%= link_to 'Edit', edit_post_path(@post) %> | <%= link_to 'Back', posts_path %></p>
    </div>
  </div>
  <!-- other articles -->
  <div class="rightcolumn">
    <div class="card">
      <h2> <%= @sample_posts[0].title %> </h2>
      <h2> <%= @sample_posts[0].body[0...100] %> </h2>
    </div>
    <div class="card">
      <h2> <%= @sample_posts[1].title %> </h2>
      <h2> <%= @sample_posts[0].body[0...100] %> </h2>
    </div>
    <div class="card">
      <h2> <%= @sample_posts[2].title %> </h2>
      <h2> <%= @sample_posts[0].body[0...100] %> </h2>
    </div>
  </div>
</div>