<% provide(:page_title, @post.title) %>
<!--w3sc-->
<div class="row">
  <div class="leftcolumn">
    <div class="card" >
      <h2 class="htlfndr-section-title bigger-title"><%= @post.title %></h2>
      <h5 class="widget-title">by. Jongwon Lee | <%= @post.date %></h5>

      <h5 class="widget-title"><%= @post.category %></h5>
      <img src="/assets/img<%= Post.ids.find_index(@post.id) + 1 %>.png", style="height:200px;">
      <h4 class="subcategory-name"><%= @post.body %></h4>

    </div>
  </div>
  <!-- other articles -->
  <% @sample_posts.sample(3).each do |post| %>
    <div class="rightcolumn">
      <div class="card">
        <h4 class="htlfndr-section-title"> <%= post.title %> </h4>
        <h5 class="widget-title"> <%= post.body[0...100] %> </h5>
      </div>
    </div>
  <% end %>

</div>