<% provide(:page_title, @post.title) %>
<!--w3sc-->
<div class="row">
  <div class="leftcolumn">
    <div class="card">
      <div>
        <h2><%= @post.title %></h2>
        <br>
      </div>
      <div>
        <h5><%= @post.category %></h5>
        <h5>by. Jongwon Lee | <%= @post.date %> | <%= @post.impressionist_count %> Views | <%= @post.impressionist_count(:filter=>:ip_address) %> Uniq Views </h5>
      </div>
      <div>
        <img src="/assets/img<%= Post.ids.find_index(@post.id) + 1 %>.png", style="height:200px;">
        <h4><%= @post.body %></h4>
      </div>
    </div>
  </div>
  <!-- other articles -->
  <% @sample_posts.sample(3).each do |post| %>
    <div class="rightcolumn">
      <div class="card">
        <h4> <%= link_to post.title, post %> </h4>
        <img src="/assets/img<%= Post.ids.find_index(post.id) + 1 %>.png", style="height:100px;">
      </div>
    </div>
  <% end %>
</div>